<header>
    <!-- Need to add padding later -->

    <!-- Top Navbar -->
    <div class="bg-white text-dark">
        <div class="container d-flex justify-content-around align-items-center py-1">
            <!-- Logo -->
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo.png" alt="" width="85" height="26" class="img-fluid">
            </a>

            <!-- Dropdowns and Button - Middle -->
            <div class="d-flex align-items-center">
                <!-- Books Dropdown -->
                <div class="dropdown px-3 py-3">
                    <!-- Button -->
                    <a class="dropdown-toggle text-dark fw-bold text-decoration-none ps-3" href="#" id="dropdownNavLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="-40,15">
                        Books
                    </a>
                    <!-- Menu -->
                    <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Rent/Buy</a></li>
                        <li><a class="dropdown-item" href="#">Read</a></li>
                        <li><a class="dropdown-item" href="#">Return</a></li>
                        <li><a class="dropdown-item" href="#">Sell</a></li>
                    </ul>

                </div>

                <!-- Study Dropdown-->
                <div class="dropdown px-3 py-3">
                    <!-- Button -->
                    <a class="dropdown-toggle text-dark fw-bold text-decoration-none" href="#" id="dropdownNavLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="-150,15">
                        Study
                    </a>
                    <!-- Menu -->
                    <div class="dropdown-menu shadow" aria-labelledby="dropdownMenuLink">
                        <div class="container-md dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white disabled">
                                <a class="dropdown-item" href="#">Tasks</a>
                            </button>
                            <button type="button" class="btn btn-white disabled">
                                <a class="dropdown-item" href="#">Tools</a>
                            </button>
                        </div>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Homework Help</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Expert Q&A</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Exam prep</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Textbook solutions</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Understanding a topic</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Math Solver</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Writing & citations</a>
                            </button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Citations</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white disabled"></button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Plagiarism checker</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white disabled"></button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Grammar checker</a>
                            </button>
                        </div>
                        <div class="dropdown-header d-flex justify-content-between">
                            <button type="button" class="btn btn-white disabled"></button>
                            <button type="button" class="btn btn-white">
                                <a class="dropdown-item" href="#">Expert proofreading</a>
                            </button>
                        </div>
                    </div>

                </div>

                <!-- Career Dropdown -->
                <div class="dropdown px-3 py-3">
                    <!-- Button -->
                    <a class="dropdown-toggle text-dark fw-bold text-decoration-none" href="#" id="dropdownNavLink"
                        role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="-40,15">
                        Career
                    </a>
                    <!-- Menu -->
                    <ul class="dropdown-menu shadow" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Bootcamps</a></li>
                        <li><a class="dropdown-item" href="#">Internships</a></li>
                        <li><a class="dropdown-item" href="#">Career advice</a></li>
                    </ul>

                </div>

                <!-- Life Button -->
                <button type="button" class="btn btn-white text-dark fw-bold px-3 py-3">Life</button>

            </div>

            <!-- Buttons - Right -->
            <div class="d-flex justify-content-end">
                <a class="btn btn-white btn-sm fw-bold py-3 ms-5" href="#" role="button">For educators</a>

                <body class="text-black-50 py-3 disabled" href="#">|</body>
                <a class="btn btn-white btn-sm fw-bold py-3" href="#" role="button">Help</a>

                <body class="text-black-50 py-3 disabled" href="#">|</body>
                <a class="btn btn-white btn-sm fw-bold py-3" href="#" role="button">Sign in</a>
            </div>
        </div>


    </div>


    <!-- Search Bar -->
    <nav class="navbar navbar-light bg-white py-2 mb-4">
        <form class="container m" style="width:565px;">
            <div class="input-group">
                <!-- Search Bar -->
                <input type="text" class="form-control shadow-none" placeholder="Find books, solutions, and more..."
                    aria-label="Search" aria-describedby="basic-addon1"
                    style="border-color: rgba(235,113,0,1); border-width: 2px;">

                <!-- Search Button -->
                <button type="button" class="btn btn-warning text-white fw-bold"
                    style="background-color:rgba(235,113,0,1); border-color: rgba(235,113,0,1); border-width: 2px;">
                    Search
                </button>
            </div>
        </form>
    </nav>

</header>