/* NOTICE: CSS is used in place of Bootstrap when a finer precision is needed */

.cheggBtn{
    border-radius: 2rem; 
    background-color: rgba(235,113,0,1);
    border:unset;
    font-size: 1.4rem;
    box-shadow: none;
}

.cheggBtn:active{
    box-shadow: none;
}