<p *ngIf="myInfo == undefined">Failed fetching user info</p>
<div *ngIf="myInfo != undefined">
    <div class="container px-3">
        <div class="row">
            <div class="col">
                User: {{myInfo.FirstName}} {{myInfo.LastName}}
            </div>
            <div class="col">
                Email: <a href="mailto: {{myInfo.Email}}"> {{myInfo.Email}}</a>
            </div>
            <div class="col">
                Password: {{myInfo.Password}}
            </div>
        </div>
    </div>
</div>