<h2 class="text-center" style="font-size: 47px; font-weight: 800; padding-top: 35px; padding-bottom: 40px">Here for every moment</h2>


<div class="d-flex justify-content-center">
    <app-hw-tile style="padding-right: 11px;"></app-hw-tile>
    <app-exam-tile style="padding-right: 11px; padding-left: 11px;"></app-exam-tile>
    <app-topic-tile style="padding-right: 11px; padding-left: 11px;"></app-topic-tile>
    <app-writing-tile style="padding-left: 11px;"></app-writing-tile>
</div>

<div class="d-flex justify-content-center" style="padding-top: 55px">
    <app-btn [buttonLabel]="label"></app-btn>
</div>

<h5 class="text-center fw-bold" style="padding-top: 2.02rem; font-size: 23px; padding-bottom: 50px;">
    Prices starting at $14.95/month, cancel anytime</h5>