<!-- Panel Card -->
<div class="container-fluid py-2 contPad">
    <div class="p-5 mb-4 rounded-2 text-white cardBg"> <!-- Background Image -->
        <div class="container-fluid pt-5">

            <!-- Display Text -->
            <div>
                <div class="display-5 bigText pTop">Save up to 90% off</div>
                <div class="display-5 bigText">
                    textbooks<a class="discText" href="#">2</a> <!-- Superscript -->
                </div>
            </div>

            <!-- Small Text -->
            <div class="fs-4 smText">{{smrtTxtbks}}</div>

            <!-- Button -->
            <div class="container btnPad"><app-btn [buttonLabel]="btntxt"></app-btn></div>

        </div>
    </div>


</div>