<div class="text-center pt-2" style="padding-bottom: 3rem;">

    <div class="col-lg-10 mx-auto text-center" style="font-size: 3rem; color: rgba(235,113,0,1); line-height: 3.5rem;
        letter-spacing: 0px; font-weight: 725">
        94% of Chegg customers say they get better grades when they use Chegg to
        understand their coursework<a style="font-size: 1rem; vertical-align: 20px; color: inherit; 
            text-decoration: none; font-weight:350" href="#">1</a> <!-- Superscript -->

    </div>
</div>

<div class="container-fluid py-2" style="padding-left: 1.5rem;">

    <div class="p-5 mb-4 rounded-2 text-white" style="background-image:url(/assets/images/panel-books-XL.png); background-size:contain;
    background-repeat: no-repeat; height: 560px;">
        <div class="container-fluid pt-5">

            <div>
                <div class="display-5" style="padding-left: 547px; padding-top: 63px; font-weight: 700">Save up to 90%
                    off
                </div>
                <div class="display-5" style="padding-left: 547px; font-weight: 700">
                    textbooks<a style="font-size: 1rem; vertical-align: 20px; color: inherit; 
                    text-decoration: none; font-weight:350" href="#">2</a> <!-- Superscript -->
                </div>
            </div>

            <div class="fs-4" style="padding-left: 547px; padding-top: 17px; letter-spacing: 0.5px;">
                The smartest way to rent or buy textbooks. Period.
            </div>

            <div class="container" style="padding-left: 547px; padding-top: 35px">
                <a class="btn btn-primary  fw-bold px-3 text-white" href="#" role="button" style="border-radius: 2rem; 
                background-color: rgba(235,113,0,1); border:unset; font-size: 1.4rem; box-shadow: none;
                letter-spacing: 0.5px;">Find your books</a>
            </div>

        </div>
    </div>


</div>