<div class="d-flex justify-content-end">
    <a class="btn btn-white btn-sm py-3 ms-5" href="#" role="button" style="box-shadow: none;  font-weight:700; font-size: 15px">For educators</a>

    <body class="text-black-50 py-3 disabled" href="#" style="padding-inline: 5px; font-weight: 250">|</body>
    <a class="btn btn-white btn-sm py-3" href="#" role="button" style="box-shadow: none;  font-weight:700; font-size: 15px">Help</a>

    <body class="text-black-50 py-3 disabled" href="#" style="padding-inline: 5px; font-weight: 250">|</body>
    <a class="btn btn-white btn-sm py-3" href="#" role="button" style="box-shadow: none; font-weight:700; font-size: 15px">Sign in</a>
</div>