<div class="container-fluid fixed-top bg-white" style="height: 4.5rem">
    <div class="row">

        <!-- Logo -->
        <div class="col" style="padding-top: 1.23rem;">
            <a class="navbar-brand" href="#" style="padding-left: 8.8rem;">
                <img src="/assets/images/logo.png" alt="" width="88" height="27" class="img-fluid">
            </a>
        </div>

        <div class="col-3" style="padding-right: 26.8rem; padding-top: 6px; font-size: 15px; font-weight: 700;">
            <app-nav-middle></app-nav-middle>
        </div>

        <div class="col" style="padding-right: 10rem; font-size: 18px; padding-top:6px; ">
            <app-nav-right></app-nav-right>
        </div>
    </div>
</div>
