<div class="d-flex justify-content-end">
    <a class="btn btn-white btn-sm py-3 ms-5 nav-btn" href="#" role="button">For educators</a>

    <body class="text-black-50 py-3 disabled right-divider" href="#">|</body>
    <a class="btn btn-white btn-sm py-3 nav-btn" href="#" role="button">Help</a>

    <body class="text-black-50 py-3 disabled right-divider" href="#">|</body>
    <div class="dropdown">
        <a class="btn btn-white btn-sm py-3 dropdown-toggle nav-btn" href="#" role="button">
            Sign up
        </a>
        <div class="dropdown-menu shadow-lg sign-in" aria-labelledby="dropdownMenuLink">
            <div class="d-flex justify-content-center mt-2">
                <h5>
                    Sign up
                </h5>
            </div>
            
            <div class="column">
                <div class="row">
                    <div class="col mx-3 mt-2">
                        <div class="input-group">
                            <span class="input-group-text">Name</span>
                            <input type="text" aria-label="First name" class="form-control">
                            <input type="text" aria-label="Last name" class="form-control">
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-3">
                        <div class="input-group my-2">
                            <input type="text" class="form-control" placeholder="MIX ID" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">@mix.wvu.edu</span>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-3">
                        <div class="input-group mb-1">
                            <span class="input-group-text" id="basic-addon3">https://github.com/</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                          </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>