<div class="container-fluid fixed-top bg-white navHeight">
    <div class="row">

        <!-- Logo -->
        <div class="col logoCol">
            <a class="navbar-brand cheggLogo" href="#">
                <img src="/assets/images/logo.png" alt="" width="88" height="27" class="img-fluid">
            </a>
        </div>

        <div class="col-3 navMiddle">
            <app-nav-middle></app-nav-middle>
        </div>

        <div class="col navRight">
            <app-nav-right></app-nav-right>
        </div>
    </div>
</div>
