<div class="d-flex align-items-center">
    <!-- Books Dropdown -->
    <div class="dropdown px-3">
        <!-- Button -->
        <a class="dropdown-toggle text-dark text-decoration-none" routerLink="/books" id="dropdownNavLink" role="button"
            aria-expanded="false">
            Books
        </a>
        <!-- Menu -->
        <ul class="dropdown-menu shadow-lg navpad booksMenu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item dropbtn-pad" href="#">Rent/Buy</a></li>
            <li><a class="dropdown-item dropbtn-pad" href="#">Read</a></li>
            <li><a class="dropdown-item dropbtn-pad" href="#">Return</a></li>
            <li><a class="dropdown-item dropbtn-pad" href="#">Sell</a></li>
        </ul>

    </div>

    <!-- Study Dropdown-->
    <div class="dropdown px-3">
        <!-- Button -->
        <a class="dropdown-toggle text-dark text-decoration-none" routerLink="/study" id="dropdownNavLink" role="button"
            aria-expanded="false">
            Study
        </a>
        <!-- Menu -->
        <div class="dropdown-menu shadow-lg study-menu" aria-labelledby="dropdownMenuLink">
            <app-study-menu></app-study-menu>
        </div>

    </div>

    <!-- Career Dropdown -->
    <div class="dropdown px-3 py-3">
        <!-- Button -->
        <a class="dropdown-toggle text-dark text-decoration-none" routerLink="/career" id="dropdownNavLink" role="button"
            aria-expanded="false">
            Career
        </a>
        <!-- Menu -->
        <ul class="dropdown-menu shadow-lg careerMenu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item careerItem" href="#">Bootcamps</a></li>
            <li><a class="dropdown-item careerItem" href="#">Internships</a></li>
            <li><a class="dropdown-item careerItem" href="#">Career advice</a></li>
        </ul>

    </div>

    <!-- Life Button -->
    <button type="button" routerLink="/life" class="btn btn-white text-dark fw-bold px-3 py-3 nav-btn">Life</button>

</div>