
<!-- TODO: Set default container size (using padding and css cause bootstrap is bugging) -->

<div class="container">
    <div class="row row-cols-2">
        <button type="button" class="btn btn-white disabled col text-start ps-3 drpItem">
            Tasks
        </button>
        <button type="button" class="btn btn-white disabled col text-start ps-4 drpItem">
            Tools
        </button>
        <button type="button" class="btn btn-white col text-start ps-3 drpItem">
            <p class="m-0">Homework Help</p>
        </button>
        <button type="button" class="btn btn-white col borderStart text-start ps-4 bg-white drpItem">
            <p class="m-0">Expert Q&A</p>
        </button>
        <button type="button" class="btn btn-white col text-start ps-3 drpItem">
            <p class="m-0">Exam prep</p>
        </button>
        <button type="button" class="btn btn-white col border-start text-start ps-4 drpItem">
            <p class="m-0">Textbook solutions</p>
        </button>
        <button type="button" class="btn btn-white col text-start ps-3 drpItem">
            <p class="m-0">Understand a topic</p>
        </button>
        <button type="button" class="btn btn-white col border-start text-start ps-4 drpItem">
            <p class="m-0">Math solver</p>
        </button>
        <button type="button" class="btn btn-white col text-start ps-3 drpItem">
            <p class="m-0">Writing & citations</p>
        </button>
        <button type="button" class="btn btn-white col border-start text-start ps-4 drpItem">
            <p class="m-0">Citations</p>
        </button>
        <div class="col"></div>
        <button type="button" class="btn btn-white col border-start text-start ps-4 drpItem">
            <p class="m-0">Plagiarism checker</p>
        </button>
        <div class="col"></div>
        <button type="button" class="btn btn-white col border-start text-start ps-4 drpItem">
            <p class="m-0">Grammar checker</p>
        </button>
        <div class="col"></div>
        <button type="button" class="btn btn-white col borderEnd text-start ps-4 bg-white pb-0 drpItem pb-3">
            <p class="m-0">Expert proofreading</p>
        </button>
    </div>
</div>