<div class="d-flex">
    <div class="container">
        <div class="row row-cols-2">
            <button type="button" class="btn btn-white disabled col text-start ps-3 py-3">
                Tasks
            </button>
            <button type="button" class="btn btn-white disabled col text-start ps-4 py-3">
                Tools
            </button>
            <button type="button" class="btn btn-white col text-start ps-3">
                <p>Homework Help</p>
            </button>
            <button type="button" class="btn btn-white col borderStart text-start ps-4 bg-white">
                <p>Expert Q&A</p>
            </button>
            <button type="button" class="btn btn-white col text-start ps-3">
                <p>Exam prep</p>
            </button>
            <button type="button" class="btn btn-white col border-start text-start ps-4">
                <p>Textbook solutions</p>
            </button>
            <button type="button" class="btn btn-white col text-start ps-3">
                <p>Understand a topic</p>
            </button>
            <button type="button" class="btn btn-white col border-start text-start ps-4">
                <p>Math solver</p>
            </button>
            <button type="button" class="btn btn-white col text-start ps-3">
                <p>Writing & citations</p>
            </button>
            <button type="button" class="btn btn-white col border-start text-start ps-4">
                <p>Citations</p>
            </button>
            <div class="col"></div>
            <button type="button" class="btn btn-white col border-start text-start ps-4">
                <p>Plagiarism checker</p>
            </button>
            <div class="col"></div>
            <button type="button" class="btn btn-white col border-start text-start ps-4">
                <p>Grammar checker</p>
            </button>
            <div class="col mb-1"></div>
            <button type="button" class="btn btn-white col borderEnd text-start ps-4 bg-white pb-0">
                <p>Expert proofreading</p>
            </button>
        </div>
    </div>
</div>