<!-- Top Div: Image as Background-->
<div class="d-flex flex-column text-white ps-3 bgHero">

    <!-- Text -->
    <div>
        <div class="fw-bold courseHelp">24/7 COURSE HELP </div>
        <div class="pt-2 heroLg">Learn with Chegg</div>
        <div class="fs-4 heroSm pad13">From first day to finals, get homework help,
            exam prep</div>
        <div class="fs-4 heroSm">& writing support—tailored to your courses.</div>
    </div>

    <!-- Button -->
    <div class="container heroBtn">
        <app-btn [buttonLabel]="btntxt"></app-btn>
    </div>
</div>