<!-- Search Bar -->
<nav class={{searchClass}} style="padding-top: 75px; padding-bottom: 11px;">    <!-- CSS is here prevent having to type these -->
    <form class="container wholeBdr" style={{searchWidth}}>                  <!-- in every component that uses this component -->
        <div class="input-group">
            <!-- Search Bar -->
            <div class="container">
                <div class="row">
                    <input type="text" class="form-control shadow-none searchBdr col search"
                        placeholder={{searchText}} aria-label="Search"
                        aria-describedby="basic-addon1">
                    <button type="button" class="btn text-white fw-bold searchBtn col-2">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </form>
</nav>