<!-- Search Bar -->
<nav class="navbar navbar-light bg-white mb-3 pe-2" style="padding-top: 75px;">
    <form class="container" style="width:550px;">
        <div class="input-group">
            <!-- Search Bar -->
            <input type="text" class="form-control shadow-none" placeholder="Find books, solutions, and more..."
                aria-label="Search" aria-describedby="basic-addon1"
                style="border-color: rgba(235,113,0,1); border-width: 2px">

            <!-- Search Button -->
            <button type="button" class="btn text-white fw-bold" style="background-color:rgba(235,113,0,1); 
            border-color: rgba(235,113,0,1); border-width: 2px; box-shadow: none;">
                Search
            </button>
        </div>
    </form>
</nav>